<div class="mt-5 container">
    <h5> Item Classification </h5>
    <hr />
</div>

<table class="container table table-bordered">
    <thead>
        <tr style="width:100px;height:100px;">
            <th class="myTrHeader text-center">
                <img src="https://assets.playnccdn.com/gamedata/powerbook/lineage/88/24/ee6fe0b75b11ba74b8429fb6.jpg" />
                <br />
                <a asp-controller="Equipment" asp-action="Helmet"> Helmet </a>
            </th>
            <th class="text-left">
                <p>
                    마법의 투구(신속)이나 바람의 투구처럼 착용 시
                    특정 마법을 사용할 수 있는 특수 아이템들이 존재한다
                </p>
            </th>
        </tr>
        <tr>
            <th class="text-center">
                <img src="https://assets.playnccdn.com/gamedata/powerbook/lineage/45/12/59a9ba87aacc8e409c71b3b2.gif" />
                <br />
                <a asp-controller="Equipment" asp-action="TShirt"> T-Shirt </a>
            </th>
            <th class="text-left">
                <p>
                    갑옷 안에 입는 방어구.
                    스탯 옵션을 가지고 있는 티셔츠의 인기가 높은 편이다.
                </p>
            </th>
        </tr>
        <tr>
            <th class="text-center">
                <img src="https://assets.playnccdn.com/gamedata/powerbook/lineage/21/93/279032fdbade2bc9b7ad2301.jpg" />
                <br />
                <a asp-controller="Equipment" asp-action="Armor"> Armor </a>
            </th>
            <th class="text-left">
                <p>
                    가장 방어력이 높은 방어구.
                    인기 아이템으로는 마갑주, 상갑 마갑주가 있다.
                </p>
            </th>
        </tr>
        <tr>
            <th class="text-center">
                <img src="https://assets.playnccdn.com/gamedata/powerbook/lineage/70/69/03aac8332de777a577961793.gif" />
                <br />
                <a asp-controller="Equipment" asp-action="Cape"> Cape </a>
            </th>
            <th class="text-left">
                <p>
                    방어력은 낮지만 군주의 위엄이나 투명 망토처럼
                    스탯, 저항, 특수 능력 등을 갖춘 아이템들이 다수 존재한다
                </p>
            </th>
        </tr>
        <tr>
            <th class="text-center">
                <img src="https://assets.playnccdn.com/gamedata/powerbook/lineage/13/91/22b319f8b389bb7d5b092edd.jpg" />
                <br />
                <a asp-controller="Equipment" asp-action="Globe"> Globe </a>
            </th>
            <th class="text-left">
                <p>
                    방어력은 낮은 편이지만 활 골무, 파워 글로브처럼 원거리, 
                    근거리 공격을 보조해주는 특성을 갖춘 아이템들이 존재한다
                </p>
            </th>
        </tr>
        <tr>
            <th class="text-center">
                <img src="https://assets.playnccdn.com/gamedata/powerbook/lineage/86/23/74283e30eae092bc52930ece.jpg" />
                <br />
                <a asp-controller="Equipment" asp-action="Boots"> Boots </a>
            </th>
            <th class="text-left">
                <p>
                    일반 제작을 통해 만들어낼 수 있는 강철 부츠가 일반적이며
                    스텟 옵션을 가지고 있는 스텟 부츠도 인기가 있다.
                </p>
            </th>
        </tr>
        <tr>
            <th class="text-center">
                <img src="https://assets.playnccdn.com/gamedata/powerbook/lineage/68/96/6fbcef642fe0771b6e66ea90.jpg" />
                <br />
                <a asp-controller="Equipment" asp-action="Guard"> Guard </a>
            </th>
            <th class="text-left">
                <p>
                    한손 무기를 사용할 때만 착용할 수 있는 방어구.
                    붉은 기사의 방패와 요정족 방패가 가장 대중적이다.
                </p>
            </th>
        </tr>


    </thead>
</table>

<style>
    .myTrHeader {
        width: 500px;
    }
</style>