@page "/"
@page "/home"
@page "/index"

@if (user is not null)
{    
    <MudText Typo="Typo.h3" Class="mt-5 text-center"> Greeting! Mr or Ms. @user.Identity.Name</MudText>
    <MudSpacer />
    <MudText Typo="Typo.h5" Class="mt-5 text-center"> 
        왼쪽메뉴에서 Items에서 WeaponList, EquipmentList, Accessories List에서 각 하나씩만 구현했습니다.
        <br />
        List들 중 구현된 것들: One Hand Sword, Armor, Belt 입니다.(빨간색 이름)
        <br />
        
        <br />
        이 외에는 다 구현하여 동작합니다.
        <br />
        Customer List는 10만명을  불러와서 시간이 좀 걸립니다.
        <br />
        살짝만 인내부탁드리겠습니다.
    </MudText>
}
else
{
    <div class="m-2 p-2">
        No User Exists
    </div>
}

@code {
    [CascadingParameter] public Task<AuthenticationState> AuthTask { get; set; }

    private System.Security.Claims.ClaimsPrincipal user;

    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthTask;
        this.user = authState.User;
    }
}