@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center m-3">
    <h1 class="display-4"> Welcome! This is My Game Site Area. </h1>
    <h3> Please select  <strong style="color:red"> 'GameDb' </strong> Section above. </h3>
    <h5> Implemented GameDb Only </h5>
    
</div>
