@inherits LayoutComponentBase
@inject IAccountHttpRepository _accountService

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div>
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <strong>Hello, @context.User.Identity.Name!</strong>
                    <MudButton ButtonType="ButtonType.Submit" OnClick="onClick">Log out</MudButton>
                </Authorized>
                <NotAuthorized>
                    <a>Log in</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="container-fluid mt-5">
            @Body
        </div>
    </div>
</div>

@code {

    private async Task onClick()
    {
        await _accountService.Logout();
        _navigationManager.NavigateTo("/");
    }
}