<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/MudBlazor/MudBlazor" Target="_blank" />
    </MudAppBar>
    <MudDrawer @bind-Open="@open" Elevation="1">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">My App</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Match="NavLinkMatch.All" Href="counter">counter</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="fetchdata">fetchdata</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="register">register</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="login">login</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="changepassword">change password</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="forgotpassword">forgot password</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="managerlist">manager list</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="customerlist">customer list</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="userclasschart">user class chart</MudNavLink>
            <p>--------------------------------</p>
            <MudNavLink Match="NavLinkMatch.All" Href="">weapons list</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="">equipment list</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="">accessories list</MudNavLink>
            
            
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent Class="pt-16 px-16">
        <MudContainer Class="mt-6">
            @*<MudAlert Severity="Severity.Success" Class="mt-16">Text inside MudContainer</MudAlert>*@
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code{
    bool open = false;

    void ToggleDrawer()
    {
        open = !open;
    }
}
