<div class="mt-5 container">
    <h5> Item Classification </h5>
    <hr />
</div>

<table class="container table table-bordered">
    <thead>
        <tr style="width:100px;height:100px;">
            <th class="myTrHeader text-center">
                <img src="https://assets.playnccdn.com/gamedata/powerbook/lineage/74/75/8ae5b3770c477cdba78b2d85.jpg" />
                <br />
                <a asp-controller="Accessory" asp-action="EarRing"> EarRing </a>
            </th>
            <th class="text-left">
                <p>
                    HP, MP에 관련된 옵션이 주를 이루고, 퀘스트 및 제작과 관련된 것들이 다수 존재한다
                </p>
            </th>
        </tr>
        <tr>
            <th class="text-center">
                <img src="https://assets.playnccdn.com/gamedata/powerbook/lineage/27/40/082af6d6f5b3c2dabfbc4420.jpg" />
                <br />
                <a asp-controller="Accessory" asp-action="Neckless"> Neckless </a>
            </th>
            <th class="text-left">
                <p>
                    스탯에 관련된 옵션이 주로 붙어 있고, 퀘스트 및 제작에 관련된 아이템들이 많다
                </p>
            </th>
        </tr>
        <tr>
            <th class="text-center">
                <img src="https://assets.playnccdn.com/gamedata/powerbook/lineage/50/85/436daed876ca4665214cac9f.jpg" />
                <br />
                <a asp-controller="Accessory" asp-action="Ring"> Ring </a>
            </th>
            <th class="text-left">
                <p>
                    마법, 속성 저항력이 주요 옵션. 순간이동 조종 반지, 변신 조종 반지와 같이 독립적인 
                    기능을 가진 아이템들이 다수 존재한다
                </p>
            </th>
        </tr>
        <tr>
            <th class="text-center">
                <img src="https://assets.playnccdn.com/gamedata/powerbook/lineage/70/69/03aac8332de777a577961793.gif" />
                <br />
                <a asp-controller="Accessory" asp-action="Belt"> Belt </a>
            </th>
            <th class="text-left">
                <p>
                    기본 옵션은 귀걸이, 목걸이와 동일하며, 무게 게이지를 증가시켜주는 벨트가 다수 존재한다
                </p>
            </th>
        </tr>

    </thead>
</table>

<style>
    .myTrHeader {
        width: 500px;
    }
</style>