@page "/itemlist"
@attribute [Authorize(Roles = "SuperAdministrator, ServerAdministrator")]
<h3>Itemlist</h3>

<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Warning" OnClick="@(()=>WeaponPage())"> Weapons </MudButton>
<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success" OnClick="@(()=>EquipmentPage())"> Equipment </MudButton>
<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Secondary" OnClick="@(()=>AccPage())"> Acc </MudButton>

@code {

    private void WeaponPage()
    {
        _navigationManager.NavigateTo("/itemlist/totalweapons");
    }

    private void EquipmentPage()
    {
        _navigationManager.NavigateTo("/itemlist/totaleqp");
    }

    private void AccPage()
    {
        _navigationManager.NavigateTo("/itemlist/totalacc");
    }

}
